.navbar{
  margin:0;
}


.box1{
  height:200px;
  background-color:blue;
}

.box2{
  height:200px;
  background-color:yellow;
}

.box3{
  height:200px;
  background-color:red;
}
.headline{
  margin:0;
}
.hero{
  height:600px;
  background-color:pink;
}

.hero h2:after{
  content:"";
  position:absolute;
  height: 2px;
  width:20%;
  background-color:black;
  top:50px;
  right:40%;
}

.footer{
  height:50px;
  background-color:yellow;
}

.box8{
  height:200px;
  background-color:red;
}

.box4{
  height:200px;
  background-color:black;
}
